
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 116.7rem;
}.group-3-hGM {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:78:13048');
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: cover;

  .auto-group-b6v7-3LD {
    background-size: 100% 189.141%;
    background-image: url('REPLACE_IMAGE:da40fd00fc695f1b1fff66bb48e10fdc57ba9736');
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 15.5rem 7.1rem 5.1rem 7.7rem;
    width: 100%;
    display: flex;
    align-items: center;
    height: 61.7rem;
    background-position: 0 0;

    .converted-2-Mbo {
      flex-shrink: 0;
      margin: 0.1rem 10.6rem 0rem 0rem;
      width: 23.6002rem;
      height: 23.5997rem;
      object-fit: contain;
      vertical-align: top;
    }
    .group-3-UAd {
      padding: 2rem 2.2rem 1.2rem 2rem;
      width: 33.9rem;
      height: 100%;
      border: solid 0.1rem rgba(156, 28, 61, 0.8000000119);
      background-color: rgba(253, 203, 216, 0.8000000119);
      flex-shrink: 0;
      margin-right: 10.2rem;
      box-sizing: border-box;

      .group-1-azM {
        margin-bottom: 0.7rem;
        width: 23rem;
        height: 8.9rem;
        position: relative;

        .bora-rosa-soda-jcM {
          font-weight: 400;
          color: #9c1c3d;
          white-space: nowrap;
          height: 6.6rem;
          left: 0;
          top: 0;
          line-height: 1.2575;
          letter-spacing: -1.04rem;
          font-family: Ailerons, 'Source Sans Pro';
          width: 23rem;
          position: absolute;
          font-size: 5.2rem;
        }
        .strawberry-q9b {
          height: 3rem;
          left: 0.8rem;
          top: 5.9rem;
          font-size: 2.4rem;
          line-height: 1.2125;
          color: #9c1c3d;
          font-family: Inter, 'Source Sans Pro';
          width: 13.3rem;
          position: absolute;
          font-weight: 700;
          white-space: nowrap;
        }
      }
      .experience-the-vibrant-flavors-of-bora-rosa-soda-crafted-with-care-and-packed-with-fizzy-goodness-every-sip-is-a-delightful-burst-of-refreshment-join-us-borarosasoda-for-more-sparkling-adventures-cheers-to-vibrant-moments-XHK {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.8571428571;
        color: #9c1c3d;
        font-family: Inter, 'Source Sans Pro';
        margin: 0rem 0rem 2.3rem 0.8rem;
        max-width: 28.9rem;

        .experience-the-vibrant-flavors-of-bora-rosa-soda-crafted-with-care-and-packed-with-fizzy-goodness-every-sip-is-a-delightful-burst-of-refreshment-join-us-borarosasoda-for-more-sparkling-adventures-cheers-to-vibrant-moments-XHK-sub-0 {
          color: #9c1c3d;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.8571428571;
        }
        .experience-the-vibrant-flavors-of-bora-rosa-soda-crafted-with-care-and-packed-with-fizzy-goodness-every-sip-is-a-delightful-burst-of-refreshment-join-us-borarosasoda-for-more-sparkling-adventures-cheers-to-vibrant-moments-XHK-sub-1 {
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.8571428571;
          color: #9c1c3d;
        }
      }
      .image-7-Qdw {
        position: relative;
        background-size: 115.385% 119.658%;
        background-position: -1.1538rem -0.9333rem;
        background-image: url('REPLACE_IMAGE:902ea463c51d2955ed81290c59993379a6ae2577');
        width: 15rem;
        height: 10.4rem;
      }
    }
    .converted-3-4yP {
      height: 23.5997rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 0.0997rem;
      width: 23.6002rem;
    }
    .auto-group-b6v7-3LD-bg {
      width: 116.7rem;
      height: 61.7rem;
      position: relative;
      background-image: url('REPLACE_IMAGE:da40fd00fc695f1b1fff66bb48e10fdc57ba9736');
    }
  }
  .auto-group-ay6d-X6H {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #9c1c3d;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.1rem 7.25rem 3.6rem 7.65rem;

    .strawberry-3KX {
      font-weight: 400;
      line-height: 1.2575;
      color: #ffffff;
      font-family: Ailerons, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 22.75rem;
      text-align: center;
      font-size: 5.2rem;
      white-space: nowrap;
    }
    .ml-N6u {
      margin-right: 23.15rem;
      line-height: 1.2575;
      white-space: nowrap;
      color: #ffffff;
      font-family: Ailerons, 'Source Sans Pro';
      flex-shrink: 0;
      text-align: center;
      font-size: 5.2rem;
      font-weight: 400;
      letter-spacing: -1.04rem;
    }
    .strawberry-HUm {
      font-family: Ailerons, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 5.2rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #ffffff;
    }
  }
}
