
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 200rem;
}.frame-2-VUu {
  box-sizing: border-box;
  padding: 11.8rem 9.3rem 11.7rem 9.3rem;
  width: 100%;
  height: 150rem;
  overflow: hidden;
  position: relative;
  background-color: #000000;
}
.frame-2-VUu .frame-3-skM {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background: radial-gradient(65.42% 65.42% at 50% 0%, #b1ff52 0%, #ecee5e 100%);
  border-radius: 4rem;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ {
  width: 192.841rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .logo-wheel-SqP {
  width: 95.339rem;
  height: 95.339rem;
  position: absolute;
  left: 49.4548rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .rectangle-5-AFb {
  opacity: 0.3;
  width: 181.3rem;
  height: 43.6rem;
  position: absolute;
  left: 6.5548rem;
  top: 94.7rem;
  background-color: rgba(255, 255, 255, 0.3000000119);
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-ewT {
  width: 15.9491rem;
  height: 32.1rem;
  position: absolute;
  left: 61.7623rem;
  top: 122.3rem;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-ewT .vector-kzV {
  width: 15.9099rem;
  height: 31.658rem;
  position: absolute;
  left: 0;
  top: 0.442rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-ewT .clip-path-group-HjX {
  width: 15.8733rem;
  height: 4.9474rem;
  position: absolute;
  left: 0.0241rem;
  top: 0.442rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-ewT .vector-C5o {
  width: 15.9099rem;
  height: 31.6572rem;
  position: absolute;
  left: 0.0392rem;
  top: 0.3864rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-ewT .vector-V4u {
  width: 15.7485rem;
  height: 3.1818rem;
  position: absolute;
  left: 0.0268rem;
  top: 28.9182rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-ewT .group-RUM {
  width: 12.3124rem;
  height: 1.5897rem;
  position: absolute;
  left: 1.798rem;
  top: 30.5082rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-ewT .group-Z4m {
  width: 14.6046rem;
  height: 1.6387rem;
  position: absolute;
  left: 0.5988rem;
  top: 29.6339rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-ewT .group-tsj {
  opacity: 0.61;
  width: 5.9052rem;
  height: 29.1674rem;
  position: absolute;
  left: 8.205rem;
  top: 0.8167rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-ewT .group-DQD {
  opacity: 0.2;
  width: 5.9054rem;
  height: 29.1673rem;
  position: absolute;
  left: 1.658rem;
  top: 0.7984rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-ewT .group-kQ9 {
  width: 15.8735rem;
  height: 1.5215rem;
  position: absolute;
  left: 0.0292rem;
  top: 3.8686rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-ewT .group-Ub3 {
  opacity: 0.15;
  width: 15.8735rem;
  height: 1.5215rem;
  position: absolute;
  left: 0.0292rem;
  top: 3.9621rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-ewT .group-D2q {
  width: 13.0247rem;
  height: 1.8211rem;
  position: absolute;
  left: 1.4533rem;
  top: 0.2806rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-ewT .group-vT3 {
  width: 13.0247rem;
  height: 1.8211rem;
  position: absolute;
  left: 1.4533rem;
  top: 0.047rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-ewT .vector-R8u {
  width: 13.0247rem;
  height: 1.8211rem;
  position: absolute;
  left: 1.4533rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-ewT .group-xuX {
  opacity: 0.53;
  width: 13.0249rem;
  height: 1.6358rem;
  position: absolute;
  left: 1.4533rem;
  top: 0.0004rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-ewT .clip-path-group-JCh {
  width: 15.9099rem;
  height: 31.658rem;
  position: absolute;
  left: 0;
  top: 0.442rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-ewT .vector-Ec9 {
  width: 3.8938rem;
  height: 0.4094rem;
  position: absolute;
  left: 5.7539rem;
  top: 0.8902rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-ewT .vector-aR7 {
  width: 4.4245rem;
  height: 0.3213rem;
  position: absolute;
  left: 5.7529rem;
  top: 3.7074rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-ewT .mask-group-7R3 {
  width: 15.9099rem;
  height: 29.3224rem;
  position: absolute;
  left: -0.0075rem;
  top: 0.6065rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-11-2nu {
  box-sizing: border-box;
  padding-left: 0.005rem;
  width: 10.6874rem;
  height: 21.5rem;
  cursor: pointer;
  position: absolute;
  left: 90.346rem;
  top: 127.6rem;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-11-2nu .layer-1-9Mj {
  width: 100%;
  height: 100%;
  position: relative;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-11-2nu .layer-1-9Mj .vector-TNR {
  width: 10.6562rem;
  height: 21.204rem;
  position: absolute;
  left: 0;
  top: 0.296rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-11-2nu .layer-1-9Mj .clip-path-group-m8D {
  width: 10.6317rem;
  height: 3.3137rem;
  position: absolute;
  left: 0.0162rem;
  top: 0.296rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-11-2nu .layer-1-9Mj .vector-sww {
  width: 10.6562rem;
  height: 21.2034rem;
  position: absolute;
  left: 0.0262rem;
  top: 0.2588rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-11-2nu .layer-1-9Mj .vector-cuX {
  width: 10.5481rem;
  height: 2.1311rem;
  position: absolute;
  left: 0.018rem;
  top: 19.3689rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-11-2nu .layer-1-9Mj .group-9uT {
  width: 8.2466rem;
  height: 1.0647rem;
  position: absolute;
  left: 1.2043rem;
  top: 20.4338rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-11-2nu .layer-1-9Mj .group-hAH {
  width: 9.7819rem;
  height: 1.0976rem;
  position: absolute;
  left: 0.401rem;
  top: 19.8482rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-11-2nu .layer-1-9Mj .group-qXP {
  opacity: 0.61;
  width: 3.9552rem;
  height: 19.5358rem;
  position: absolute;
  left: 5.4956rem;
  top: 0.547rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-11-2nu .layer-1-9Mj .group-A3s {
  opacity: 0.2;
  width: 3.9553rem;
  height: 19.5357rem;
  position: absolute;
  left: 1.1105rem;
  top: 0.5347rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-11-2nu .layer-1-9Mj .group-tkZ {
  width: 10.6318rem;
  height: 1.0191rem;
  position: absolute;
  left: 0.0196rem;
  top: 2.5911rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-11-2nu .layer-1-9Mj .group-EZX {
  opacity: 0.15;
  width: 10.6318rem;
  height: 1.0191rem;
  position: absolute;
  left: 0.0196rem;
  top: 2.6538rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-11-2nu .layer-1-9Mj .group-a7b {
  width: 8.7237rem;
  height: 1.2197rem;
  position: absolute;
  left: 0.9734rem;
  top: 0.1879rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-11-2nu .layer-1-9Mj .group-gRX {
  width: 8.7237rem;
  height: 1.2197rem;
  position: absolute;
  left: 0.9734rem;
  top: 0.0315rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-11-2nu .layer-1-9Mj .vector-QcR {
  width: 8.7237rem;
  height: 1.2197rem;
  position: absolute;
  left: 0.9733rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-11-2nu .layer-1-9Mj .group-kwB {
  opacity: 0.53;
  width: 8.7239rem;
  height: 1.0957rem;
  position: absolute;
  left: 0.9734rem;
  top: 0.0003rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-11-2nu .layer-1-9Mj .clip-path-group-V85 {
  width: 10.6562rem;
  height: 21.204rem;
  position: absolute;
  left: 0;
  top: 0.296rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-11-2nu .layer-1-9Mj .vector-E5f {
  width: 2.608rem;
  height: 0.2742rem;
  position: absolute;
  left: 3.8538rem;
  top: 0.5962rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-11-2nu .layer-1-9Mj .vector-Mvy {
  width: 2.9635rem;
  height: 0.2152rem;
  position: absolute;
  left: 3.8532rem;
  top: 2.4832rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-11-2nu .layer-1-9Mj .mask-group-tvu {
  width: 10.6562rem;
  height: 19.6396rem;
  position: absolute;
  left: -0.005rem;
  top: 0.4062rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-12-q5T {
  width: 10.6875rem;
  height: 21.5rem;
  position: absolute;
  left: 116.3025rem;
  top: 127.6rem;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-12-q5T .layer-1-xvm {
  width: 10.6824rem;
  height: 21.5rem;
  position: absolute;
  left: 0.005rem;
  top: 0;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-12-q5T .layer-1-xvm .vector-TMj {
  width: 10.6562rem;
  height: 21.204rem;
  position: absolute;
  left: 0;
  top: 0.296rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-12-q5T .layer-1-xvm .clip-path-group-AX3 {
  width: 10.6316rem;
  height: 3.3137rem;
  position: absolute;
  left: 0.0161rem;
  top: 0.296rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-12-q5T .layer-1-xvm .vector-6Qh {
  width: 10.6562rem;
  height: 21.2034rem;
  position: absolute;
  left: 0.0263rem;
  top: 0.2588rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-12-q5T .layer-1-xvm .vector-SUZ {
  width: 10.5481rem;
  height: 2.1311rem;
  position: absolute;
  left: 0.018rem;
  top: 19.3689rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-12-q5T .layer-1-xvm .group-yzH {
  width: 8.2466rem;
  height: 1.0647rem;
  position: absolute;
  left: 1.2043rem;
  top: 20.4338rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-12-q5T .layer-1-xvm .group-iBB {
  width: 9.7819rem;
  height: 1.0976rem;
  position: absolute;
  left: 0.401rem;
  top: 19.8482rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-12-q5T .layer-1-xvm .group-2Sm {
  opacity: 0.61;
  width: 3.9552rem;
  height: 19.5358rem;
  position: absolute;
  left: 5.4955rem;
  top: 0.547rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-12-q5T .layer-1-xvm .group-9XP {
  opacity: 0.2;
  width: 3.9553rem;
  height: 19.5357rem;
  position: absolute;
  left: 1.1105rem;
  top: 0.5347rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-12-q5T .layer-1-xvm .group-5R3 {
  width: 10.6317rem;
  height: 1.0191rem;
  position: absolute;
  left: 0.0196rem;
  top: 2.5911rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-12-q5T .layer-1-xvm .group-znu {
  opacity: 0.15;
  width: 10.6317rem;
  height: 1.0191rem;
  position: absolute;
  left: 0.0196rem;
  top: 2.6538rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-12-q5T .layer-1-xvm .group-5pM {
  width: 8.7237rem;
  height: 1.2197rem;
  position: absolute;
  left: 0.9734rem;
  top: 0.1879rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-12-q5T .layer-1-xvm .group-pmw {
  width: 8.7237rem;
  height: 1.2197rem;
  position: absolute;
  left: 0.9734rem;
  top: 0.0315rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-12-q5T .layer-1-xvm .vector-mSH {
  width: 8.7237rem;
  height: 1.2197rem;
  position: absolute;
  left: 0.9734rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-12-q5T .layer-1-xvm .group-7m3 {
  opacity: 0.53;
  width: 8.7238rem;
  height: 1.0957rem;
  position: absolute;
  left: 0.9734rem;
  top: 0.0003rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-12-q5T .layer-1-xvm .clip-path-group-3eh {
  width: 10.6562rem;
  height: 21.204rem;
  position: absolute;
  left: 0;
  top: 0.296rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-12-q5T .layer-1-xvm .vector-bAR {
  width: 2.608rem;
  height: 0.2742rem;
  position: absolute;
  left: 3.8538rem;
  top: 0.5962rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-12-q5T .layer-1-xvm .vector-vTb {
  width: 2.9634rem;
  height: 0.2152rem;
  position: absolute;
  left: 3.8531rem;
  top: 2.4832rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-12-q5T .mask-group-GGZ {
  width: 10.6562rem;
  height: 19.6396rem;
  position: absolute;
  left: 0;
  top: 0.4062rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .bora-oXP {
  width: 51.7rem;
  height: 37.8rem;
  position: absolute;
  left: 12.8048rem;
  top: 64.4rem;
  text-align: center;
  font-size: 30rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: -4.8rem;
  color: #474b42;
  font-family: Ailerons, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .rosa-3Rj {
  width: 41.6rem;
  height: 37.8rem;
  position: absolute;
  left: 134.8548rem;
  top: 64.4rem;
  text-align: center;
  font-size: 30rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: -4.8rem;
  color: #474b42;
  font-family: Ailerons, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-6-8TB {
  width: 20.7559rem;
  height: 20.9404rem;
  position: absolute;
  left: 172.0851rem;
  top: 6.293rem;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-6-8TB .vector-RBP {
  width: 3.7762rem;
  height: 3.7762rem;
  position: absolute;
  left: 16.0508rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-6-8TB .group-Aem {
  width: 20.7559rem;
  height: 20.7559rem;
  position: absolute;
  left: 0;
  top: 0.1846rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-6-8TB .group-XNq {
  opacity: 0.34;
  width: 15.1596rem;
  height: 15.1597rem;
  position: absolute;
  left: 2.9727rem;
  top: 3.1461rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-6-8TB .group-dgm {
  opacity: 0.19;
  width: 12.3967rem;
  height: 11.3696rem;
  position: absolute;
  left: 4.2844rem;
  top: 2.6495rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-6-8TB .clip-path-group-Agh {
  width: 4.1138rem;
  height: 4.1139rem;
  position: absolute;
  left: 6.9594rem;
  top: 7.4233rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-6-8TB .clip-path-group-HmK {
  width: 2.9506rem;
  height: 2.9506rem;
  position: absolute;
  left: 5.478rem;
  top: 10.0371rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-6-8TB .group-pWM {
  opacity: 0.15;
  width: 1.3728rem;
  height: 1.3728rem;
  position: absolute;
  left: 9.9479rem;
  top: 6.6411rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-6-8TB .group-keu {
  opacity: 0.15;
  width: 3.2858rem;
  height: 3.2858rem;
  position: absolute;
  left: 6.9299rem;
  top: 7.623rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-6-8TB .group-goT {
  opacity: 0.15;
  width: 5.4225rem;
  height: 5.4225rem;
  position: absolute;
  left: 10.7404rem;
  top: 2.7472rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-6-8TB .group-RW9 {
  opacity: 0.33;
  width: 5.3311rem;
  height: 5.3311rem;
  position: absolute;
  left: 13.3209rem;
  top: 5.5009rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-6-8TB .group-MPo {
  opacity: 0.33;
  width: 8.6222rem;
  height: 8.6223rem;
  position: absolute;
  left: 6.7511rem;
  top: 8.653rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-6-8TB .group-f9b {
  opacity: 0.33;
  width: 4.7049rem;
  height: 4.7049rem;
  position: absolute;
  left: 13.5578rem;
  top: 5.7006rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-6-8TB .group-BNq {
  opacity: 0.5;
  width: 7.1015rem;
  height: 7.1015rem;
  position: absolute;
  left: 7.5188rem;
  top: 9.0353rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-6-8TB .group-hMB {
  opacity: 0.31;
  width: 5.0728rem;
  height: 5.0727rem;
  position: absolute;
  left: 7.9687rem;
  top: 10.2815rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-6-8TB .group-QWV {
  box-sizing: border-box;
  padding: 1.604rem 0.936rem 0.362rem 1.03rem;
  width: 15.7264rem;
  height: 15.7264rem;
  position: absolute;
  left: 3.8796rem;
  top: 5.1959rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/clip-path-group-nVF.png');
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-6-8TB .group-QWV .clip-path-group-7Qu {
  width: 13.7611rem;
  height: 13.7611rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-6-8TB .group-d8M {
  opacity: 0.24;
  width: 9.2707rem;
  height: 9.2707rem;
  position: absolute;
  left: 8.1716rem;
  top: 4.6389rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-6-8TB .group-Z21 {
  opacity: 0.31;
  width: 7.9437rem;
  height: 7.9437rem;
  position: absolute;
  left: 8.8502rem;
  top: 5.1756rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-6-8TB .group-5W9 {
  opacity: 0.52;
  width: 13.7611rem;
  height: 13.7611rem;
  position: absolute;
  left: 4.9107rem;
  top: 6.7981rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-6-8TB .group-mtm {
  opacity: 0.35;
  width: 16.6102rem;
  height: 16.6102rem;
  position: absolute;
  left: 0.1104rem;
  top: 1.2159rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-6-8TB .group-gkq {
  width: 1.4482rem;
  height: 1.4482rem;
  position: absolute;
  left: 15.2728rem;
  top: 2.1102rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-6-8TB .group-2Zo {
  opacity: 0.68;
  width: 16.6101rem;
  height: 16.6101rem;
  position: absolute;
  left: 0.112rem;
  top: 1.2144rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-6-8TB .group-xiM {
  opacity: 0.49;
  width: 8.3746rem;
  height: 8.3746rem;
  position: absolute;
  left: 9.318rem;
  top: 3.8343rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-6-8TB .group-VyB {
  width: 0.3361rem;
  height: 0.3361rem;
  position: absolute;
  left: 16.2544rem;
  top: 5.0771rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-6-8TB .group-SNd {
  opacity: 0.49;
  width: 4.8368rem;
  height: 4.8369rem;
  position: absolute;
  left: 11.2802rem;
  top: 5.5815rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-6-8TB .vector-NXB {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 16.5653rem;
  top: 0.2891rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-6-8TB .vector-7Um {
  width: 1.6094rem;
  height: 1.6094rem;
  position: absolute;
  left: 17.4281rem;
  top: 0.8989rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-6-8TB .vector-rhF {
  width: 2.422rem;
  height: 2.422rem;
  position: absolute;
  left: 16.6634rem;
  top: 0.7174rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-13-Px5 {
  opacity: 0.7;
  width: 16.2402rem;
  height: 19.9111rem;
  position: absolute;
  left: 159.3026rem;
  top: 37.0706rem;
  filter: blur(0.565rem);
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-13-Px5 .vector-2k9 {
  width: 2.7325rem;
  height: 3.2101rem;
  position: absolute;
  left: 11.5439rem;
  top: 14.794rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-13-Px5 .group-B7F {
  width: 14.8959rem;
  height: 17.7679rem;
  position: absolute;
  left: 0.0015rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-13-Px5 .group-icy {
  opacity: 0.34;
  width: 9.48rem;
  height: 14.377rem;
  position: absolute;
  left: 2.5493rem;
  top: 1.8033rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-13-Px5 .group-F77 {
  opacity: 0.19;
  width: 7.306rem;
  height: 11.2092rem;
  position: absolute;
  left: 5.4687rem;
  top: 3.8261rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-13-Px5 .clip-path-group-aQH {
  width: 3.0056rem;
  height: 3.4684rem;
  position: absolute;
  left: 7.044rem;
  top: 6.2737rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-13-Px5 .clip-path-group-WYq {
  width: 2.0618rem;
  height: 2.5816rem;
  position: absolute;
  left: 6.2892rem;
  top: 4.727rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-13-Px5 .group-3Ym {
  opacity: 0.15;
  width: 1.1719rem;
  height: 0.9885rem;
  position: absolute;
  left: 9.3627rem;
  top: 9.1753rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-13-Px5 .group-B9B {
  opacity: 0.15;
  width: 2.284rem;
  height: 2.8868rem;
  position: absolute;
  left: 7.6535rem;
  top: 6.2542rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-13-Px5 .group-sGu {
  opacity: 0.15;
  width: 3.9164rem;
  height: 4.617rem;
  position: absolute;
  left: 8.9526rem;
  top: 9.9154rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-13-Px5 .group-xJM {
  opacity: 0.33;
  width: 3.8789rem;
  height: 4.5108rem;
  position: absolute;
  left: 6.383rem;
  top: 11.4741rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-13-Px5 .group-5Ny {
  opacity: 0.33;
  width: 6.005rem;
  height: 7.5639rem;
  position: absolute;
  left: 2.4336rem;
  top: 5.2069rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-13-Px5 .group-1nR {
  opacity: 0.33;
  width: 3.3347rem;
  height: 4.0694rem;
  position: absolute;
  left: 6.758rem;
  top: 11.6553rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-13-Px5 .group-M5b {
  opacity: 0.5;
  width: 4.8045rem;
  height: 6.3711rem;
  position: absolute;
  left: 3.3301rem;
  top: 5.8773rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-13-Px5 .group-Uvu {
  opacity: 0.31;
  width: 3.352rem;
  height: 4.6311rem;
  position: absolute;
  left: 3.9759rem;
  top: 6.2613rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-13-Px5 .group-pUy {
  box-sizing: border-box;
  padding: 0.755rem 0.219rem 0.906rem 0.219rem;
  width: 10.4522rem;
  height: 14.2966rem;
  position: absolute;
  left: 0.0125rem;
  top: 2.3589rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/clip-path-group-fNy.png');
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-13-Px5 .group-pUy .clip-path-group-vH7 {
  width: 9.0205rem;
  height: 12.6354rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-13-Px5 .group-Eob {
  opacity: 0.24;
  width: 5.7711rem;
  height: 8.8183rem;
  position: absolute;
  left: 5.1391rem;
  top: 6.6186rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-13-Px5 .group-jkM {
  opacity: 0.31;
  width: 4.9242rem;
  height: 7.5768rem;
  position: absolute;
  left: 5.6596rem;
  top: 7.2741rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-13-Px5 .group-e6d {
  opacity: 0.52;
  width: 9.0205rem;
  height: 12.6355rem;
  position: absolute;
  left: 0.2321rem;
  top: 3.1158rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-13-Px5 .group-mS9 {
  opacity: 0.35;
  width: 11.2977rem;
  height: 14.8419rem;
  position: absolute;
  left: 2.9743rem;
  top: 0.1068rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-13-Px5 .group-uYM {
  width: 1.147rem;
  height: 1.132rem;
  position: absolute;
  left: 11.9426rem;
  top: 14.1342rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-13-Px5 .group-dz9 {
  opacity: 0.68;
  width: 11.2976rem;
  height: 14.8419rem;
  position: absolute;
  left: 2.9753rem;
  top: 0.1083rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-13-Px5 .group-a8h {
  opacity: 0.49;
  width: 5.2712rem;
  height: 7.9081rem;
  position: absolute;
  left: 6.2487rem;
  top: 7.8494rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-13-Px5 .group-ugm {
  width: 0.2268rem;
  height: 0.3021rem;
  position: absolute;
  left: 10.429rem;
  top: 14.4488rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-13-Px5 .group-ePT {
  opacity: 0.49;
  width: 3.0123rem;
  height: 4.5995rem;
  position: absolute;
  left: 7.3603rem;
  top: 9.6596rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-13-Px5 .vector-b3o {
  width: 2.1642rem;
  height: 2.557rem;
  position: absolute;
  left: 11.8831rem;
  top: 15.2379rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-13-Px5 .vector-LGH {
  width: 1.1473rem;
  height: 1.3854rem;
  position: absolute;
  left: 12.4286rem;
  top: 15.9709rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-13-Px5 .vector-Sq7 {
  width: 1.7329rem;
  height: 2.0786rem;
  position: absolute;
  left: 12.0237rem;
  top: 15.3017rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-7-MBP {
  width: 29.1938rem;
  height: 21.8756rem;
  position: absolute;
  left: 0;
  top: 115.0922rem;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-7-MBP .vector-Eky {
  width: 5.079rem;
  height: 4.0293rem;
  position: absolute;
  left: 0;
  top: 1.4615rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-7-MBP .group-BRK {
  width: 28.1883rem;
  height: 21.8756rem;
  position: absolute;
  left: 1.0055rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-7-MBP .group-KXX {
  opacity: 0.34;
  width: 23.6646rem;
  height: 12.901rem;
  position: absolute;
  left: 3.1216rem;
  top: 4.7537rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-7-MBP .group-f5b {
  opacity: 0.19;
  width: 18.1483rem;
  height: 10.2685rem;
  position: absolute;
  left: 4.8786rem;
  top: 3.2135rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-7-MBP .clip-path-group-CLR {
  width: 5.4701rem;
  height: 4.4527rem;
  position: absolute;
  left: 13.5773rem;
  top: 6.866rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-7-MBP .clip-path-group-8Uy {
  width: 4.1297rem;
  height: 2.9873rem;
  position: absolute;
  left: 17.5419rem;
  top: 9.2311rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-7-MBP .group-Tn9 {
  opacity: 0.15;
  width: 1.4541rem;
  height: 1.8571rem;
  position: absolute;
  left: 12.7799rem;
  top: 6.2094rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-7-MBP .group-yVb {
  opacity: 0.15;
  width: 4.6252rem;
  height: 3.3002rem;
  position: absolute;
  left: 14.4497rem;
  top: 7.0077rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-7-MBP .group-geu {
  opacity: 0.15;
  width: 7.3095rem;
  height: 5.7697rem;
  position: absolute;
  left: 5.7129rem;
  top: 3.1169rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-7-MBP .group-1SH {
  opacity: 0.33;
  width: 7.1238rem;
  height: 5.735rem;
  position: absolute;
  left: 3.8232rem;
  top: 7.4058rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-7-MBP .group-9YV {
  opacity: 0.33;
  width: 12.1118rem;
  height: 8.6854rem;
  position: absolute;
  left: 9.1713rem;
  top: 9.7631rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-7-MBP .group-tFB {
  opacity: 0.33;
  width: 6.4817rem;
  height: 4.8668rem;
  position: absolute;
  left: 4.1912rem;
  top: 7.6729rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-7-MBP .group-ped {
  opacity: 0.5;
  width: 10.2862rem;
  height: 6.8428rem;
  position: absolute;
  left: 9.9253rem;
  top: 10.2312rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-7-MBP .group-koB {
  opacity: 0.31;
  width: 7.5236rem;
  height: 4.712rem;
  position: absolute;
  left: 12.0794rem;
  top: 11.3522rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-7-MBP .group-VVs {
  box-sizing: border-box;
  padding: 1.827rem 1.121rem 0.291rem 1.501rem;
  width: 23.1913rem;
  height: 14.7413rem;
  position: absolute;
  left: 2.8485rem;
  top: 7.1196rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/clip-path-group-pBT.png');
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-7-MBP .group-VVs .clip-path-group-DAy {
  width: 20.5689rem;
  height: 12.6233rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-7-MBP .group-LWV {
  opacity: 0.24;
  width: 14.5295rem;
  height: 7.8318rem;
  position: absolute;
  left: 4.3943rem;
  top: 6.4319rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-7-MBP .group-dEh {
  opacity: 0.31;
  width: 12.4954rem;
  height: 6.6649rem;
  position: absolute;
  left: 5.3429rem;
  top: 6.8685rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-7-MBP .group-xnm {
  opacity: 0.52;
  width: 20.5689rem;
  height: 12.6233rem;
  position: absolute;
  left: 4.347rem;
  top: 8.945rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-7-MBP .group-gyf {
  opacity: 0.35;
  width: 23.9273rem;
  height: 16.1371rem;
  position: absolute;
  left: 5.0895rem;
  top: 0.8347rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-7-MBP .group-DTo {
  width: 1.7301rem;
  height: 1.763rem;
  position: absolute;
  left: 4.3919rem;
  top: 2.9653rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-7-MBP .group-kyX {
  opacity: 0.68;
  width: 23.9272rem;
  height: 16.1369rem;
  position: absolute;
  left: 5.0871rem;
  top: 0.8334rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-7-MBP .group-VAR {
  opacity: 0.49;
  width: 12.9979rem;
  height: 7.202rem;
  position: absolute;
  left: 3.8209rem;
  top: 5.5132rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-7-MBP .group-2RF {
  width: 0.4882rem;
  height: 0.3225rem;
  position: absolute;
  left: 5.4562rem;
  top: 6.7619rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-7-MBP .group-xZo {
  opacity: 0.49;
  width: 7.5776rem;
  height: 4.089rem;
  position: absolute;
  left: 6.2894rem;
  top: 7.1202rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-7-MBP .vector-JNm {
  width: 4.0497rem;
  height: 3.1864rem;
  position: absolute;
  left: 0.3229rem;
  top: 1.8136rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-7-MBP .vector-2Zf {
  width: 2.2027rem;
  height: 1.6793rem;
  position: absolute;
  left: 1.0105rem;
  top: 2.5305rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-7-MBP .vector-LaM {
  width: 3.301rem;
  height: 2.5409rem;
  position: absolute;
  left: 0.9827rem;
  top: 2.2286rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-8-GU1 {
  opacity: 0.4;
  width: 20.7426rem;
  height: 11.8951rem;
  position: absolute;
  left: 19.5548rem;
  top: 98.7rem;
  filter: blur(0.5rem);
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-8-GU1 .vector-9nh {
  width: 3.258rem;
  height: 2.107rem;
  position: absolute;
  left: 0.5589rem;
  top: 6.1857rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-8-GU1 .group-tkH {
  width: 18.2056rem;
  height: 11.2836rem;
  position: absolute;
  left: 2.5366rem;
  top: 0rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-8-GU1 .group-ptq {
  opacity: 0.34;
  width: 16.6704rem;
  height: 4.8678rem;
  position: absolute;
  left: 3.3443rem;
  top: 3.403rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-8-GU1 .group-ZLd {
  opacity: 0.19;
  width: 12.0299rem;
  height: 5.3rem;
  position: absolute;
  left: 3.8462rem;
  top: 1.947rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-8-GU1 .clip-path-group-6bT {
  width: 3.4802rem;
  height: 2.3646rem;
  position: absolute;
  left: 9.7228rem;
  top: 3.0214rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-8-GU1 .clip-path-group-Ehf {
  width: 2.7224rem;
  height: 1.4697rem;
  position: absolute;
  left: 12.4429rem;
  top: 2.8874rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-8-GU1 .group-mSh {
  opacity: 0.15;
  width: 0.7543rem;
  height: 1.1961rem;
  position: absolute;
  left: 8.8526rem;
  top: 3.8185rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-8-GU1 .group-3v1 {
  opacity: 0.15;
  width: 3.0606rem;
  height: 1.6077rem;
  position: absolute;
  left: 9.9733rem;
  top: 2.9915rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-8-GU1 .group-bAq {
  opacity: 0.15;
  width: 4.6962rem;
  height: 3.0078rem;
  position: absolute;
  left: 4.3283rem;
  top: 4.1009rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-8-GU1 .group-KMj {
  opacity: 0.33;
  width: 4.5486rem;
  height: 3.0257rem;
  position: absolute;
  left: 5.2231rem;
  top: 7.0708rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-8-GU1 .group-TD3 {
  opacity: 0.33;
  width: 8.0037rem;
  height: 4.2465rem;
  position: absolute;
  left: 9.046rem;
  top: 5.0495rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-8-GU1 .group-bKF {
  opacity: 0.33;
  width: 4.2276rem;
  height: 2.4569rem;
  position: absolute;
  left: 5.3361rem;
  top: 7.2517rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-8-GU1 .group-vMX {
  opacity: 0.5;
  width: 6.9326rem;
  height: 3.1569rem;
  position: absolute;
  left: 9.3097rem;
  top: 5.4349rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-8-GU1 .group-Feh {
  opacity: 0.31;
  width: 5.145rem;
  height: 2.0621rem;
  position: absolute;
  left: 10.6138rem;
  top: 5.6822rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-8-GU1 .group-PF7 {
  box-sizing: border-box;
  padding: 0.863rem 0.416rem 0.256rem 1.257rem;
  width: 15.8045rem;
  height: 6.539rem;
  position: absolute;
  left: 4.917rem;
  top: 4.428rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/clip-path-group-53o.png');
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-8-GU1 .group-PF7 .clip-path-group-thf {
  width: 14.1319rem;
  height: 5.4194rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-8-GU1 .group-BRs {
  opacity: 0.24;
  width: 10.2578rem;
  height: 2.9137rem;
  position: absolute;
  left: 4.5386rem;
  top: 5.3501rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-8-GU1 .group-iRo {
  opacity: 0.31;
  width: 8.8396rem;
  height: 2.4464rem;
  position: absolute;
  left: 5.1511rem;
  top: 5.5393rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-8-GU1 .group-rY1 {
  opacity: 0.52;
  width: 14.1319rem;
  height: 5.4193rem;
  position: absolute;
  left: 6.1722rem;
  top: 5.2918rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-8-GU1 .group-C65 {
  opacity: 0.35;
  width: 16.0706rem;
  height: 7.5285rem;
  position: absolute;
  left: 3.718rem;
  top: 0.0304rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-8-GU1 .group-X8M {
  width: 1.0107rem;
  height: 1.0469rem;
  position: absolute;
  left: 3.1996rem;
  top: 5.7479rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-8-GU1 .group-4PB {
  opacity: 0.68;
  width: 16.0706rem;
  height: 7.5284rem;
  position: absolute;
  left: 3.7162rem;
  top: 0.0308rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-8-GU1 .group-bP7 {
  opacity: 0.49;
  width: 9.1268rem;
  height: 2.7715rem;
  position: absolute;
  left: 3.9104rem;
  top: 5.3723rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-8-GU1 .group-vwB {
  width: 0.3296rem;
  height: 0.1479rem;
  position: absolute;
  left: 5.0677rem;
  top: 7.5485rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-8-GU1 .group-USu {
  opacity: 0.49;
  width: 5.3487rem;
  height: 1.5233rem;
  position: absolute;
  left: 5.7rem;
  top: 6.1242rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-8-GU1 .vector-zw3 {
  width: 2.6045rem;
  height: 1.6579rem;
  position: absolute;
  left: 0.7604rem;
  top: 6.457rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-8-GU1 .vector-u2R {
  width: 1.4302rem;
  height: 0.8564rem;
  position: absolute;
  left: 1.2139rem;
  top: 6.9396rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .group-8-GU1 .vector-dz1 {
  width: 2.1372rem;
  height: 1.3038rem;
  position: absolute;
  left: 1.176rem;
  top: 6.559rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-Ayw {
  width: 47.0337rem;
  height: 94.6627rem;
  position: absolute;
  left: 73.677rem;
  top: 22.4rem;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-Ayw .vector-HHs {
  width: 46.9182rem;
  height: 93.3592rem;
  position: absolute;
  left: 0;
  top: 1.3035rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-Ayw .clip-path-group-DxD {
  width: 46.8102rem;
  height: 14.59rem;
  position: absolute;
  left: 0.071rem;
  top: 1.3035rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-Ayw .vector-LX3 {
  width: 46.9182rem;
  height: 93.3569rem;
  position: absolute;
  left: 0.1155rem;
  top: 1.1394rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-Ayw .vector-5Ud {
  width: 46.4423rem;
  height: 9.3832rem;
  position: absolute;
  left: 0.0792rem;
  top: 85.2795rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-Ayw .group-28y {
  width: 36.309rem;
  height: 4.6878rem;
  position: absolute;
  left: 5.3022rem;
  top: 89.9685rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-Ayw .group-MS9 {
  width: 43.0688rem;
  height: 4.8325rem;
  position: absolute;
  left: 1.7659rem;
  top: 87.3901rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-Ayw .group-Tk5 {
  opacity: 0.61;
  width: 17.4144rem;
  height: 86.0144rem;
  position: absolute;
  left: 24.1964rem;
  top: 2.4085rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-Ayw .group-BRB {
  opacity: 0.2;
  width: 17.4149rem;
  height: 86.0141rem;
  position: absolute;
  left: 4.8894rem;
  top: 2.3544rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-Ayw .group-WiM {
  width: 46.8108rem;
  height: 4.4869rem;
  position: absolute;
  left: 0.086rem;
  top: 11.4083rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-Ayw .group-FR3 {
  opacity: 0.15;
  width: 46.8108rem;
  height: 4.4869rem;
  position: absolute;
  left: 0.086rem;
  top: 11.6844rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-Ayw .group-ay7 {
  width: 38.4097rem;
  height: 5.3704rem;
  position: absolute;
  left: 4.2857rem;
  top: 0.8275rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-Ayw .group-X7f {
  width: 38.4097rem;
  height: 5.3704rem;
  position: absolute;
  left: 4.2857rem;
  top: 0.1386rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-Ayw .vector-rvd {
  width: 38.4097rem;
  height: 5.3704rem;
  position: absolute;
  left: 4.2857rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-Ayw .group-cQ1 {
  opacity: 0.53;
  width: 38.4102rem;
  height: 4.8241rem;
  position: absolute;
  left: 4.2859rem;
  top: 0.0012rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-Ayw .clip-path-group-9Pw {
  width: 46.9182rem;
  height: 93.3592rem;
  position: absolute;
  left: 0;
  top: 1.3035rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-Ayw .vector-gem {
  width: 11.4828rem;
  height: 1.2075rem;
  position: absolute;
  left: 16.9681rem;
  top: 2.6251rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-Ayw .vector-PJH {
  width: 13.0477rem;
  height: 0.9476rem;
  position: absolute;
  left: 16.9652rem;
  top: 10.9331rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .auto-group-wp7x-LGZ .layer-1-Ayw .mask-group-7EH {
  width: 46.9182rem;
  height: 86.4717rem;
  position: absolute;
  left: -0.0222rem;
  top: 1.7886rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo {
  margin: 10.81rem 0rem 21.027rem 0rem;
  width: 47.0337rem;
  height: calc(100% - 31.8373rem);
  position: relative;
  flex-shrink: 0;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .vector-hyB {
  width: 46.9182rem;
  height: 93.3592rem;
  position: absolute;
  left: 0;
  top: 1.3035rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .clip-path-group-rLH {
  width: 46.8102rem;
  height: 14.59rem;
  position: absolute;
  left: 0.071rem;
  top: 1.3035rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .vector-PLD {
  width: 46.9182rem;
  height: 93.3569rem;
  position: absolute;
  left: 0.1155rem;
  top: 1.1394rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .vector-8Ho {
  width: 46.4423rem;
  height: 9.3832rem;
  position: absolute;
  left: 0.0792rem;
  top: 85.2795rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .group-f2q {
  width: 36.309rem;
  height: 4.6878rem;
  position: absolute;
  left: 5.3023rem;
  top: 89.9685rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .group-zau {
  width: 43.0688rem;
  height: 4.8325rem;
  position: absolute;
  left: 1.7659rem;
  top: 87.3901rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .group-fww {
  opacity: 0.61;
  width: 17.4144rem;
  height: 86.0144rem;
  position: absolute;
  left: 24.1964rem;
  top: 2.4085rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .group-o2Z {
  opacity: 0.2;
  width: 17.4149rem;
  height: 86.0141rem;
  position: absolute;
  left: 4.8894rem;
  top: 2.3544rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .group-8Kj {
  width: 46.8108rem;
  height: 4.4869rem;
  position: absolute;
  left: 0.0861rem;
  top: 11.4083rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .group-fqT {
  opacity: 0.15;
  width: 46.8108rem;
  height: 4.4869rem;
  position: absolute;
  left: 0.0861rem;
  top: 11.6844rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .group-CqP {
  width: 38.4097rem;
  height: 5.3704rem;
  position: absolute;
  left: 4.2857rem;
  top: 0.8275rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .group-k6D {
  width: 38.4097rem;
  height: 5.3704rem;
  position: absolute;
  left: 4.2857rem;
  top: 0.1386rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .vector-V3o {
  width: 38.4097rem;
  height: 5.3704rem;
  position: absolute;
  left: 4.2857rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .group-Ri9 {
  opacity: 0.53;
  width: 38.4102rem;
  height: 4.8241rem;
  position: absolute;
  left: 4.2859rem;
  top: 0.0012rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .clip-path-group-xTB {
  width: 46.9182rem;
  height: 93.3592rem;
  position: absolute;
  left: 0;
  top: 1.3035rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .vector-h9s {
  width: 11.4828rem;
  height: 1.2075rem;
  position: absolute;
  left: 16.9681rem;
  top: 2.6251rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .vector-oCu {
  width: 13.0477rem;
  height: 0.9476rem;
  position: absolute;
  left: 16.9653rem;
  top: 10.9331rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .mask-group-iqf {
  width: 46.9182rem;
  height: 86.4717rem;
  position: absolute;
  left: -0.0222rem;
  top: 1.7886rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .layer-1-rS5 {
  width: 47.0337rem;
  height: 94.6627rem;
  position: absolute;
  left: 0;
  top: 0;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .layer-1-rS5 .vector-kGZ {
  width: 46.9182rem;
  height: 93.3592rem;
  position: absolute;
  left: 0;
  top: 1.3035rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .layer-1-rS5 .clip-path-group-gvu {
  width: 46.8102rem;
  height: 14.59rem;
  position: absolute;
  left: 0.071rem;
  top: 1.3035rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .layer-1-rS5 .vector-pnD {
  width: 46.9182rem;
  height: 93.3569rem;
  position: absolute;
  left: 0.1155rem;
  top: 1.1394rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .layer-1-rS5 .vector-AbB {
  width: 46.4423rem;
  height: 9.3832rem;
  position: absolute;
  left: 0.0792rem;
  top: 85.2795rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .layer-1-rS5 .group-uYm {
  width: 36.309rem;
  height: 4.6878rem;
  position: absolute;
  left: 5.3023rem;
  top: 89.9685rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .layer-1-rS5 .group-Eqw {
  width: 43.0688rem;
  height: 4.8325rem;
  position: absolute;
  left: 1.7659rem;
  top: 87.3901rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .layer-1-rS5 .group-9i1 {
  opacity: 0.61;
  width: 17.4144rem;
  height: 86.0144rem;
  position: absolute;
  left: 24.1964rem;
  top: 2.4085rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .layer-1-rS5 .group-TCu {
  opacity: 0.2;
  width: 17.4149rem;
  height: 86.0141rem;
  position: absolute;
  left: 4.8894rem;
  top: 2.3544rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .layer-1-rS5 .group-b4D {
  width: 46.8107rem;
  height: 4.4869rem;
  position: absolute;
  left: 0.086rem;
  top: 11.4083rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .layer-1-rS5 .group-8K3 {
  opacity: 0.15;
  width: 46.8107rem;
  height: 4.4869rem;
  position: absolute;
  left: 0.086rem;
  top: 11.6844rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .layer-1-rS5 .group-s1j {
  width: 38.4097rem;
  height: 5.3704rem;
  position: absolute;
  left: 4.2857rem;
  top: 0.8275rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .layer-1-rS5 .group-QXT {
  width: 38.4097rem;
  height: 5.3704rem;
  position: absolute;
  left: 4.2857rem;
  top: 0.1386rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .layer-1-rS5 .vector-kbK {
  width: 38.4097rem;
  height: 5.3704rem;
  position: absolute;
  left: 4.2857rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .layer-1-rS5 .group-hmT {
  opacity: 0.53;
  width: 38.4102rem;
  height: 4.8241rem;
  position: absolute;
  left: 4.2859rem;
  top: 0.0012rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .layer-1-rS5 .clip-path-group-EFb {
  width: 46.9182rem;
  height: 93.3592rem;
  position: absolute;
  left: 0;
  top: 1.3035rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .layer-1-rS5 .vector-aKT {
  width: 11.4828rem;
  height: 1.2075rem;
  position: absolute;
  left: 16.9681rem;
  top: 2.6251rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .layer-1-rS5 .vector-Wiu {
  width: 13.0477rem;
  height: 0.9476rem;
  position: absolute;
  left: 16.9653rem;
  top: 10.9331rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-VUu .frame-3-skM .layer-1-EZo .layer-1-rS5 .mask-group-cmw {
  width: 46.9182rem;
  height: 86.4717rem;
  position: absolute;
  left: -0.0222rem;
  top: 1.7886rem;
  object-fit: contain;
  vertical-align: top;
}
