
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 200rem;
}.frame-8-sUd {
  box-sizing: border-box;
  padding: 11.8rem 9.3rem 11.7rem 9.3rem;
  width: 100%;
  height: 150rem;
  overflow: hidden;
  position: relative;
  background-color: #000000;
}
.frame-8-sUd .frame-3-9BF {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background: radial-gradient(65.42% 65.42% at 50% 0%, #ff52c4 0%, #fa9bcf 100%);
  border-radius: 4rem;
}
.frame-8-sUd .frame-3-9BF .layer-1-5ah {
  margin: 10.6rem 9.244rem 21.237rem 0rem;
  width: 47.0337rem;
  height: calc(100% - 31.8373rem);
  position: relative;
  flex-shrink: 0;
}
.frame-8-sUd .frame-3-9BF .layer-1-5ah .vector-NJu {
  width: 46.9182rem;
  height: 93.3592rem;
  position: absolute;
  left: 0;
  top: 1.3035rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .layer-1-5ah .clip-path-group-hc5 {
  width: 46.8102rem;
  height: 14.59rem;
  position: absolute;
  left: 0;
  top: 1.3035rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .layer-1-5ah .vector-3A9 {
  width: 46.9182rem;
  height: 93.3569rem;
  position: absolute;
  left: 0;
  top: 1.1395rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .layer-1-5ah .vector-PE1 {
  width: 46.4423rem;
  height: 9.3832rem;
  position: absolute;
  left: 0;
  top: 85.2795rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .layer-1-5ah .group-vzd {
  width: 36.309rem;
  height: 4.6878rem;
  position: absolute;
  left: 0;
  top: 89.9685rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .layer-1-5ah .group-TUm {
  width: 43.0688rem;
  height: 4.8325rem;
  position: absolute;
  left: 0;
  top: 87.3901rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .layer-1-5ah .group-ChF {
  opacity: 0.61;
  width: 17.4144rem;
  height: 86.0144rem;
  position: absolute;
  left: 0;
  top: 2.4085rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .layer-1-5ah .group-jBP {
  opacity: 0.2;
  width: 17.4149rem;
  height: 86.0141rem;
  position: absolute;
  left: 0;
  top: 2.3544rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .layer-1-5ah .group-fqj {
  width: 46.8107rem;
  height: 4.4869rem;
  position: absolute;
  left: 0;
  top: 11.4083rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .layer-1-5ah .group-cFB {
  opacity: 0.15;
  width: 46.8107rem;
  height: 4.4869rem;
  position: absolute;
  left: 0;
  top: 11.6844rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .layer-1-5ah .group-Lgy {
  width: 38.4097rem;
  height: 5.3704rem;
  position: absolute;
  left: 0;
  top: 0.8275rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .layer-1-5ah .group-5eZ {
  width: 38.4097rem;
  height: 5.3704rem;
  position: absolute;
  left: 0;
  top: 0.1386rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .layer-1-5ah .vector-RCd {
  width: 38.4097rem;
  height: 5.3704rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .layer-1-5ah .group-yE9 {
  opacity: 0.53;
  width: 38.4102rem;
  height: 4.8241rem;
  position: absolute;
  left: 0;
  top: 0.0012rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .layer-1-5ah .clip-path-group-hfw {
  width: 46.9182rem;
  height: 93.3592rem;
  position: absolute;
  left: 0;
  top: 1.3035rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .layer-1-5ah .vector-qn9 {
  width: 11.4828rem;
  height: 1.2075rem;
  position: absolute;
  left: 0;
  top: 2.6251rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .layer-1-5ah .vector-mvh {
  width: 13.0478rem;
  height: 0.9476rem;
  position: absolute;
  left: 0;
  top: 10.9331rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .layer-1-5ah .mask-group-v2u {
  width: 46.9182rem;
  height: 86.4717rem;
  position: absolute;
  left: 0;
  top: 1.7886rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 {
  margin-right: 9.4222rem;
  width: 181.3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .logo-wheel-yms {
  width: 95.339rem;
  height: 95.339rem;
  position: absolute;
  left: 42.9rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .rectangle-5-iUZ {
  opacity: 0.3;
  width: 181.3rem;
  height: 43.6rem;
  position: absolute;
  left: 0;
  top: 94.7rem;
  background-color: rgba(255, 255, 255, 0.3000000119);
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-9-313 {
  box-sizing: border-box;
  padding-left: 0.005rem;
  width: 10.6874rem;
  height: 21.5rem;
  cursor: pointer;
  position: absolute;
  left: 57.8346rem;
  top: 127.6rem;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-9-313 .layer-1-xNu {
  width: 100%;
  height: 100%;
  position: relative;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-9-313 .layer-1-xNu .vector-V7w {
  width: 10.6562rem;
  height: 21.2039rem;
  position: absolute;
  left: 0;
  top: 0.2961rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-9-313 .layer-1-xNu .clip-path-group-dE9 {
  width: 10.6316rem;
  height: 3.3137rem;
  position: absolute;
  left: 0.0161rem;
  top: 0.2961rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-9-313 .layer-1-xNu .vector-Yru {
  width: 10.6562rem;
  height: 21.2034rem;
  position: absolute;
  left: 0.0262rem;
  top: 0.2588rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-9-313 .layer-1-xNu .vector-HpV {
  width: 10.5481rem;
  height: 2.1312rem;
  position: absolute;
  left: 0.018rem;
  top: 19.3688rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-9-313 .layer-1-xNu .group-q5K {
  width: 8.2466rem;
  height: 1.0647rem;
  position: absolute;
  left: 1.2042rem;
  top: 20.4338rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-9-313 .layer-1-xNu .group-xfj {
  width: 9.7819rem;
  height: 1.0976rem;
  position: absolute;
  left: 0.4011rem;
  top: 19.8482rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-9-313 .layer-1-xNu .group-Jjb {
  opacity: 0.61;
  width: 3.9552rem;
  height: 19.5358rem;
  position: absolute;
  left: 5.4956rem;
  top: 0.547rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-9-313 .layer-1-xNu .group-3SH {
  opacity: 0.2;
  width: 3.9553rem;
  height: 19.5357rem;
  position: absolute;
  left: 1.1105rem;
  top: 0.5347rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-9-313 .layer-1-xNu .group-NzM {
  width: 10.6318rem;
  height: 1.0191rem;
  position: absolute;
  left: 0.0196rem;
  top: 2.5911rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-9-313 .layer-1-xNu .group-i2d {
  opacity: 0.15;
  width: 10.6318rem;
  height: 1.0191rem;
  position: absolute;
  left: 0.0196rem;
  top: 2.6538rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-9-313 .layer-1-xNu .group-F2Z {
  width: 8.7237rem;
  height: 1.2197rem;
  position: absolute;
  left: 0.9734rem;
  top: 0.1879rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-9-313 .layer-1-xNu .group-Bgu {
  width: 8.7237rem;
  height: 1.2197rem;
  position: absolute;
  left: 0.9734rem;
  top: 0.0315rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-9-313 .layer-1-xNu .vector-iwj {
  width: 8.7237rem;
  height: 1.2197rem;
  position: absolute;
  left: 0.9734rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-9-313 .layer-1-xNu .group-5GV {
  opacity: 0.53;
  width: 8.7238rem;
  height: 1.0956rem;
  position: absolute;
  left: 0.9734rem;
  top: 0.0003rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-9-313 .layer-1-xNu .clip-path-group-cGR {
  width: 10.6562rem;
  height: 21.2039rem;
  position: absolute;
  left: 0;
  top: 0.2961rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-9-313 .layer-1-xNu .vector-ME1 {
  width: 2.608rem;
  height: 0.2742rem;
  position: absolute;
  left: 3.8539rem;
  top: 0.5962rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-9-313 .layer-1-xNu .vector-hHs {
  width: 2.9634rem;
  height: 0.2152rem;
  position: absolute;
  left: 3.8532rem;
  top: 2.4832rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-9-313 .layer-1-xNu .mask-group-SWM {
  width: 10.6562rem;
  height: 19.6396rem;
  position: absolute;
  left: -0.005rem;
  top: 0.4063rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-NQ1 {
  width: 15.9491rem;
  height: 32.1rem;
  position: absolute;
  left: 81.164rem;
  top: 122.3rem;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-NQ1 .vector-g9o {
  width: 15.91rem;
  height: 31.658rem;
  position: absolute;
  left: 0;
  top: 0.442rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-NQ1 .clip-path-group-pWu {
  width: 15.8733rem;
  height: 4.9474rem;
  position: absolute;
  left: 0.0241rem;
  top: 0.442rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-NQ1 .vector-Yxh {
  width: 15.91rem;
  height: 31.6572rem;
  position: absolute;
  left: 0.0392rem;
  top: 0.3864rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-NQ1 .vector-tmf {
  width: 15.7486rem;
  height: 3.1818rem;
  position: absolute;
  left: 0.0269rem;
  top: 28.9182rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-NQ1 .group-EqX {
  width: 12.3124rem;
  height: 1.5897rem;
  position: absolute;
  left: 1.798rem;
  top: 30.5082rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-NQ1 .group-nMF {
  width: 14.6046rem;
  height: 1.6387rem;
  position: absolute;
  left: 0.5988rem;
  top: 29.6338rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-NQ1 .group-iVo {
  opacity: 0.61;
  width: 5.9052rem;
  height: 29.1674rem;
  position: absolute;
  left: 8.205rem;
  top: 0.8167rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-NQ1 .group-2WV {
  opacity: 0.2;
  width: 5.9054rem;
  height: 29.1673rem;
  position: absolute;
  left: 1.658rem;
  top: 0.7984rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-NQ1 .group-A6u {
  width: 15.8735rem;
  height: 1.5215rem;
  position: absolute;
  left: 0.0292rem;
  top: 3.8685rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-NQ1 .group-VQ5 {
  opacity: 0.15;
  width: 15.8735rem;
  height: 1.5215rem;
  position: absolute;
  left: 0.0292rem;
  top: 3.9621rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-NQ1 .group-czV {
  width: 13.0247rem;
  height: 1.8211rem;
  position: absolute;
  left: 1.4533rem;
  top: 0.2806rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-NQ1 .group-AFK {
  width: 13.0247rem;
  height: 1.8211rem;
  position: absolute;
  left: 1.4533rem;
  top: 0.047rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-NQ1 .vector-hW9 {
  width: 13.0247rem;
  height: 1.8211rem;
  position: absolute;
  left: 1.4533rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-NQ1 .group-qcM {
  opacity: 0.53;
  width: 13.0249rem;
  height: 1.6359rem;
  position: absolute;
  left: 1.4534rem;
  top: 0.0004rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-NQ1 .clip-path-group-mW1 {
  width: 15.91rem;
  height: 31.658rem;
  position: absolute;
  left: 0;
  top: 0.442rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-NQ1 .vector-iAM {
  width: 3.8938rem;
  height: 0.4094rem;
  position: absolute;
  left: 5.7539rem;
  top: 0.8902rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-NQ1 .vector-rGZ {
  width: 4.4245rem;
  height: 0.3213rem;
  position: absolute;
  left: 5.753rem;
  top: 3.7074rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-NQ1 .mask-group-C5X {
  width: 15.91rem;
  height: 29.3224rem;
  position: absolute;
  left: -0.0074rem;
  top: 0.6065rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-12-KR3 {
  width: 10.6874rem;
  height: 21.5rem;
  position: absolute;
  left: 109.7477rem;
  top: 127.6rem;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-12-KR3 .layer-1-4Nd {
  width: 10.6824rem;
  height: 21.5rem;
  position: absolute;
  left: 0.005rem;
  top: 0;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-12-KR3 .layer-1-4Nd .vector-BCM {
  width: 10.6562rem;
  height: 21.204rem;
  position: absolute;
  left: 0;
  top: 0.296rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-12-KR3 .layer-1-4Nd .clip-path-group-7rh {
  width: 10.6316rem;
  height: 3.3137rem;
  position: absolute;
  left: 0.0162rem;
  top: 0.296rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-12-KR3 .layer-1-4Nd .vector-Sty {
  width: 10.6562rem;
  height: 21.2034rem;
  position: absolute;
  left: 0.0263rem;
  top: 0.2588rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-12-KR3 .layer-1-4Nd .vector-b1B {
  width: 10.548rem;
  height: 2.1312rem;
  position: absolute;
  left: 0.018rem;
  top: 19.3688rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-12-KR3 .layer-1-4Nd .group-8mo {
  width: 8.2466rem;
  height: 1.0647rem;
  position: absolute;
  left: 1.2043rem;
  top: 20.4338rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-12-KR3 .layer-1-4Nd .group-szH {
  width: 9.7819rem;
  height: 1.0976rem;
  position: absolute;
  left: 0.4011rem;
  top: 19.8482rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-12-KR3 .layer-1-4Nd .group-RW1 {
  opacity: 0.61;
  width: 3.9552rem;
  height: 19.5358rem;
  position: absolute;
  left: 5.4956rem;
  top: 0.547rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-12-KR3 .layer-1-4Nd .group-ZMK {
  opacity: 0.2;
  width: 3.9553rem;
  height: 19.5357rem;
  position: absolute;
  left: 1.1105rem;
  top: 0.5347rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-12-KR3 .layer-1-4Nd .group-VVs {
  width: 10.6317rem;
  height: 1.0191rem;
  position: absolute;
  left: 0.0196rem;
  top: 2.5911rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-12-KR3 .layer-1-4Nd .group-po3 {
  opacity: 0.15;
  width: 10.6317rem;
  height: 1.0191rem;
  position: absolute;
  left: 0.0196rem;
  top: 2.6538rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-12-KR3 .layer-1-4Nd .group-ZVj {
  width: 8.7237rem;
  height: 1.2197rem;
  position: absolute;
  left: 0.9734rem;
  top: 0.1879rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-12-KR3 .layer-1-4Nd .group-WA5 {
  width: 8.7237rem;
  height: 1.2197rem;
  position: absolute;
  left: 0.9734rem;
  top: 0.0315rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-12-KR3 .layer-1-4Nd .vector-qy3 {
  width: 8.7237rem;
  height: 1.2197rem;
  position: absolute;
  left: 0.9734rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-12-KR3 .layer-1-4Nd .group-bBX {
  opacity: 0.53;
  width: 8.7238rem;
  height: 1.0957rem;
  position: absolute;
  left: 0.9734rem;
  top: 0.0003rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-12-KR3 .layer-1-4Nd .clip-path-group-vjb {
  width: 10.6562rem;
  height: 21.204rem;
  position: absolute;
  left: 0;
  top: 0.296rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-12-KR3 .layer-1-4Nd .vector-GYZ {
  width: 2.608rem;
  height: 0.2742rem;
  position: absolute;
  left: 3.8539rem;
  top: 0.5962rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-12-KR3 .layer-1-4Nd .vector-o2h {
  width: 2.9634rem;
  height: 0.2152rem;
  position: absolute;
  left: 3.8532rem;
  top: 2.4832rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-12-KR3 .mask-group-XjP {
  width: 10.6562rem;
  height: 19.6396rem;
  position: absolute;
  left: 0;
  top: 0.4062rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .bora-U8q {
  width: 51.7rem;
  height: 37.8rem;
  position: absolute;
  left: 6.25rem;
  top: 64.4rem;
  text-align: center;
  font-size: 30rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: -4.8rem;
  color: #474b42;
  font-family: Ailerons, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .rosa-Lgq {
  width: 41.6rem;
  height: 37.8rem;
  position: absolute;
  left: 128.3rem;
  top: 64.4rem;
  text-align: center;
  font-size: 30rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: -4.8rem;
  color: #474b42;
  font-family: Ailerons, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-6-FJ1 {
  width: 13.9973rem;
  height: 24.235rem;
  position: absolute;
  left: 150.6113rem;
  top: 4.0027rem;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-6-FJ1 .vector-9PP {
  width: 2.6088rem;
  height: 3.9317rem;
  position: absolute;
  left: 7.905rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-6-FJ1 .group-VCM {
  width: 13.9973rem;
  height: 21.9529rem;
  position: absolute;
  left: 0;
  top: 2.2821rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-6-FJ1 .group-EQq {
  opacity: 0.34;
  width: 6.3462rem;
  height: 19.9111rem;
  position: absolute;
  left: 4.0584rem;
  top: 3.3573rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-6-FJ1 .group-m9s {
  opacity: 0.19;
  width: 6.706rem;
  height: 14.3898rem;
  position: absolute;
  left: 2.45rem;
  top: 3.9095rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-6-FJ1 .clip-path-group-VrZ {
  width: 2.9216rem;
  height: 4.2038rem;
  position: absolute;
  left: 3.8176rem;
  top: 10.9002rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-6-FJ1 .clip-path-group-S17 {
  width: 1.8354rem;
  height: 3.2752rem;
  position: absolute;
  left: 3.5901rem;
  top: 14.156rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-6-FJ1 .group-Aho {
  opacity: 0.15;
  width: 1.4428rem;
  height: 0.9349rem;
  position: absolute;
  left: 4.8817rem;
  top: 9.8613rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-6-FJ1 .group-JZ7 {
  opacity: 0.15;
  width: 2.0106rem;
  height: 3.6805rem;
  position: absolute;
  left: 3.7817rem;
  top: 11.198rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-6-FJ1 .group-qow {
  opacity: 0.15;
  width: 3.7257rem;
  height: 5.6662rem;
  position: absolute;
  left: 5.2457rem;
  top: 4.4683rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-6-FJ1 .group-B77 {
  opacity: 0.33;
  width: 3.7417rem;
  height: 5.492rem;
  position: absolute;
  left: 8.7868rem;
  top: 5.6333rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-6-FJ1 .group-VtV {
  opacity: 0.33;
  width: 5.308rem;
  height: 9.6262rem;
  position: absolute;
  left: 6.1381rem;
  top: 10.1832rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-6-FJ1 .group-djo {
  opacity: 0.33;
  width: 3.057rem;
  height: 5.0921rem;
  position: absolute;
  left: 9.0065rem;
  top: 5.7731rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-6-FJ1 .group-mLD {
  opacity: 0.5;
  width: 3.9803rem;
  height: 8.3198rem;
  position: absolute;
  left: 6.6191rem;
  top: 10.5053rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-6-FJ1 .group-uSR {
  opacity: 0.31;
  width: 2.6215rem;
  height: 6.1647rem;
  position: absolute;
  left: 6.9257rem;
  top: 12.0659rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-6-FJ1 .group-3Yd {
  box-sizing: border-box;
  padding: 1.524rem 0.341rem 0.496rem 1.043rem;
  width: 8.2949rem;
  height: 18.944rem;
  position: absolute;
  left: 5.2815rem;
  top: 5.2663rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/clip-path-group-H8V.png');
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-6-FJ1 .group-3Yd .clip-path-group-M3X {
  width: 6.9107rem;
  height: 16.9242rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-6-FJ1 .group-4yX {
  opacity: 0.24;
  width: 3.8083rem;
  height: 12.249rem;
  position: absolute;
  left: 6.554rem;
  top: 4.8039rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-6-FJ1 .group-byT {
  opacity: 0.31;
  width: 3.2054rem;
  height: 10.5533rem;
  position: absolute;
  left: 6.8051rem;
  top: 5.5344rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-6-FJ1 .group-7S1 {
  opacity: 0.52;
  width: 6.9107rem;
  height: 16.9242rem;
  position: absolute;
  left: 6.3253rem;
  top: 6.7885rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-6-FJ1 .group-FHK {
  opacity: 0.35;
  width: 9.476rem;
  height: 19.2937rem;
  position: absolute;
  left: 0.0404rem;
  top: 3.691rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-6-FJ1 .group-n2M {
  width: 1.275rem;
  height: 1.2334rem;
  position: absolute;
  left: 7.3633rem;
  top: 3.1396rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-6-FJ1 .group-Wj3 {
  opacity: 0.68;
  width: 9.4759rem;
  height: 19.2936rem;
  position: absolute;
  left: 0.041rem;
  top: 3.6889rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-6-FJ1 .group-eaM {
  opacity: 0.49;
  width: 3.6005rem;
  height: 10.9048rem;
  position: absolute;
  left: 6.6363rem;
  top: 4.042rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-6-FJ1 .group-BaH {
  width: 0.1866rem;
  height: 0.3955rem;
  position: absolute;
  left: 9.4814rem;
  top: 5.4337rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-6-FJ1 .group-Xe9 {
  opacity: 0.49;
  width: 1.9906rem;
  height: 6.3871rem;
  position: absolute;
  left: 7.5979rem;
  top: 6.1854rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-6-FJ1 .vector-Fq3 {
  width: 2.0541rem;
  height: 3.1421rem;
  position: absolute;
  left: 8.2423rem;
  top: 0.2459rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-6-FJ1 .vector-b8D {
  width: 1.064rem;
  height: 1.7236rem;
  position: absolute;
  left: 8.8397rem;
  top: 0.7973rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-6-FJ1 .vector-XGm {
  width: 1.6186rem;
  height: 2.5764rem;
  position: absolute;
  left: 8.3644rem;
  top: 0.7448rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-13-GEM {
  opacity: 0.7;
  width: 20.1651rem;
  height: 11.9561rem;
  position: absolute;
  left: 147.7854rem;
  top: 41.0481rem;
  filter: blur(0.565rem);
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-13-GEM .vector-kvD {
  width: 3.174rem;
  height: 2.1061rem;
  position: absolute;
  left: 16.3912rem;
  top: 6.3817rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-13-GEM .group-Vso {
  width: 17.7225rem;
  height: 11.3rem;
  position: absolute;
  left: 0.0004rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-13-GEM .group-F6H {
  opacity: 0.34;
  width: 16.0741rem;
  height: 5.1232rem;
  position: absolute;
  left: 0.7808rem;
  top: 3.2764rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-13-GEM .group-Ayw {
  opacity: 0.19;
  width: 11.6168rem;
  height: 5.4137rem;
  position: absolute;
  left: 4.7923rem;
  top: 1.978rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-13-GEM .clip-path-group-iEm {
  width: 3.3937rem;
  height: 2.3586rem;
  position: absolute;
  left: 7.3719rem;
  top: 3.0819rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-13-GEM .clip-path-group-eeD {
  width: 2.644rem;
  height: 1.4817rem;
  position: absolute;
  left: 5.4932rem;
  top: 2.8982rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-13-GEM .group-PLu {
  opacity: 0.15;
  width: 0.7548rem;
  height: 1.1648rem;
  position: absolute;
  left: 10.8495rem;
  top: 3.941rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-13-GEM .group-iPB {
  opacity: 0.15;
  width: 2.9712rem;
  height: 1.6232rem;
  position: absolute;
  left: 7.554rem;
  top: 3.0529rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-13-GEM .group-TLm {
  opacity: 0.15;
  width: 4.5743rem;
  height: 3.0078rem;
  position: absolute;
  left: 11.3836rem;
  top: 4.2348rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-13-GEM .group-PER {
  opacity: 0.33;
  width: 4.4337rem;
  height: 3.0207rem;
  position: absolute;
  left: 10.5838rem;
  top: 7.0936rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-13-GEM .group-K85 {
  opacity: 0.33;
  width: 7.7711rem;
  height: 4.2851rem;
  position: absolute;
  left: 3.5732rem;
  top: 4.9553rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-13-GEM .group-FGd {
  opacity: 0.33;
  width: 4.1108rem;
  height: 2.4679rem;
  position: absolute;
  left: 10.7938rem;
  top: 7.2709rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-13-GEM .group-Ns3 {
  opacity: 0.5;
  width: 6.7165rem;
  height: 3.2133rem;
  position: absolute;
  left: 4.3679rem;
  top: 5.3436rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-13-GEM .group-7Zj {
  opacity: 0.31;
  width: 4.9768rem;
  height: 2.1163rem;
  position: absolute;
  left: 4.8478rem;
  top: 5.591rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-13-GEM .group-Sru {
  box-sizing: border-box;
  padding: 0.842rem 0.4rem 0.275rem 0.4rem;
  width: 15.2934rem;
  height: 6.6965rem;
  position: absolute;
  left: 0.0204rem;
  top: 4.2637rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/clip-path-group-2Vf.png');
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-13-GEM .group-Sru .clip-path-group-AY1 {
  width: 13.6628rem;
  height: 5.579rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-13-GEM .group-VqB {
  opacity: 0.24;
  width: 9.8886rem;
  height: 3.0744rem;
  position: absolute;
  left: 5.7985rem;
  top: 5.291rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-13-GEM .group-psT {
  opacity: 0.31;
  width: 8.5197rem;
  height: 2.5877rem;
  position: absolute;
  left: 6.5777rem;
  top: 5.4937rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-13-GEM .group-Za9 {
  opacity: 0.52;
  width: 13.6628rem;
  height: 5.579rem;
  position: absolute;
  left: 0.4222rem;
  top: 5.1064rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-13-GEM .group-Vyb {
  opacity: 0.35;
  width: 15.5756rem;
  height: 7.65rem;
  position: absolute;
  left: 1.0099rem;
  top: 0.0326rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-13-GEM .group-EAV {
  width: 0.9957rem;
  height: 1.0293rem;
  position: absolute;
  left: 16.035rem;
  top: 5.9443rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-13-GEM .group-NXb {
  opacity: 0.68;
  width: 15.5756rem;
  height: 7.6498rem;
  position: absolute;
  left: 1.0116rem;
  top: 0.0331rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-13-GEM .group-7VB {
  opacity: 0.49;
  width: 8.8034rem;
  height: 2.9066rem;
  position: absolute;
  left: 7.4988rem;
  top: 5.3575rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-13-GEM .group-ek1 {
  width: 0.3193rem;
  height: 0.1507rem;
  position: absolute;
  left: 14.8594rem;
  top: 7.6542rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-13-GEM .group-Bzq {
  opacity: 0.49;
  width: 5.1563rem;
  height: 1.607rem;
  position: absolute;
  left: 9.4155rem;
  top: 6.1337rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-13-GEM .vector-vhX {
  width: 2.5366rem;
  height: 1.6583rem;
  position: absolute;
  left: 16.8302rem;
  top: 6.654rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-13-GEM .vector-4Yq {
  width: 1.3915rem;
  height: 0.859rem;
  position: absolute;
  left: 17.5301rem;
  top: 7.1362rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-13-GEM .vector-Cuw {
  width: 2.0799rem;
  height: 1.3067rem;
  position: absolute;
  left: 16.8841rem;
  top: 6.7525rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-7-jQ5 {
  width: 29.689rem;
  height: 22.8396rem;
  position: absolute;
  left: 14.8355rem;
  top: 112.7201rem;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-7-jQ5 .vector-qCD {
  width: 5.0655rem;
  height: 4.1962rem;
  position: absolute;
  left: 0;
  top: 15.7436rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-7-jQ5 .group-aQh {
  width: 28.0679rem;
  height: 22.8396rem;
  position: absolute;
  left: 1.6211rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-7-jQ5 .group-j2h {
  opacity: 0.34;
  width: 23.0483rem;
  height: 14.1335rem;
  position: absolute;
  left: 4.274rem;
  top: 4.6208rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-7-jQ5 .group-evM {
  opacity: 0.19;
  width: 16.9289rem;
  height: 12.5541rem;
  position: absolute;
  left: 4.3105rem;
  top: 4.4258rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-7-jQ5 .clip-path-group-PN9 {
  width: 5.4663rem;
  height: 4.6237rem;
  position: absolute;
  left: 12.0421rem;
  top: 7.0826rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-7-jQ5 .clip-path-group-84q {
  width: 4.0916rem;
  height: 3.1454rem;
  position: absolute;
  left: 15.8996rem;
  top: 5.9594rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-7-jQ5 .group-TN1 {
  opacity: 0.15;
  width: 1.5167rem;
  height: 1.8504rem;
  position: absolute;
  left: 10.8453rem;
  top: 9.7459rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-7-jQ5 .group-bDK {
  opacity: 0.15;
  width: 4.5782rem;
  height: 3.4808rem;
  position: absolute;
  left: 12.369rem;
  top: 7.0396rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-7-jQ5 .group-jKX {
  opacity: 0.15;
  width: 7.2874rem;
  height: 6.0122rem;
  position: absolute;
  left: 4.742rem;
  top: 10.506rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-7-jQ5 .group-G4Z {
  opacity: 0.33;
  width: 7.1129rem;
  height: 5.9626rem;
  position: absolute;
  left: 7.3173rem;
  top: 14.5291rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-7-jQ5 .group-zFT {
  opacity: 0.33;
  width: 11.9928rem;
  height: 9.1549rem;
  position: absolute;
  left: 12.3791rem;
  top: 8.4707rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-7-jQ5 .group-XFP {
  opacity: 0.33;
  width: 6.4386rem;
  height: 5.1011rem;
  position: absolute;
  left: 7.5405rem;
  top: 14.8291rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-7-jQ5 .group-fcV {
  opacity: 0.5;
  width: 10.1348rem;
  height: 7.2829rem;
  position: absolute;
  left: 12.8419rem;
  top: 9.2914rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-7-jQ5 .group-1AZ {
  opacity: 0.31;
  width: 7.3852rem;
  height: 5.0566rem;
  position: absolute;
  left: 14.6866rem;
  top: 9.7884rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-7-jQ5 .group-Lid {
  box-sizing: border-box;
  padding: 1.362rem 0.563rem 0.839rem 2.056rem;
  width: 22.7852rem;
  height: 15.7867rem;
  position: absolute;
  left: 6.8757rem;
  top: 6.0206rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/clip-path-group-tPT.png');
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-7-jQ5 .group-Lid .clip-path-group-rws {
  width: 20.1662rem;
  height: 13.5854rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-7-jQ5 .group-zYH {
  opacity: 0.24;
  width: 14.1426rem;
  height: 8.5955rem;
  position: absolute;
  left: 6.2057rem;
  top: 9.6775rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-7-jQ5 .group-KqT {
  opacity: 0.31;
  width: 12.1561rem;
  height: 7.3271rem;
  position: absolute;
  left: 7.0385rem;
  top: 10.2886rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-7-jQ5 .group-f8d {
  opacity: 0.52;
  width: 20.1662rem;
  height: 13.5854rem;
  position: absolute;
  left: 8.929rem;
  top: 7.3842rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-7-jQ5 .group-bHB {
  opacity: 0.35;
  width: 23.5958rem;
  height: 17.1437rem;
  position: absolute;
  left: 3.2249rem;
  top: 0.0991rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-7-jQ5 .group-jPP {
  width: 1.7624rem;
  height: 1.7896rem;
  position: absolute;
  left: 3.4501rem;
  top: 14.8763rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-7-jQ5 .group-g3j {
  opacity: 0.68;
  width: 23.5957rem;
  height: 17.1435rem;
  position: absolute;
  left: 3.2225rem;
  top: 0.1005rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-7-jQ5 .group-1rh {
  opacity: 0.49;
  width: 12.6703rem;
  height: 7.8699rem;
  position: absolute;
  left: 5.1762rem;
  top: 10.4851rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-7-jQ5 .group-kpH {
  width: 0.4808rem;
  height: 0.3435rem;
  position: absolute;
  left: 6.9077rem;
  top: 16.9134rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-7-jQ5 .group-hDj {
  opacity: 0.49;
  width: 7.3763rem;
  height: 4.487rem;
  position: absolute;
  left: 7.7332rem;
  top: 12.4065rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-7-jQ5 .vector-2mo {
  width: 4.0365rem;
  height: 3.3215rem;
  position: absolute;
  left: 0.3516rem;
  top: 16.3034rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-7-jQ5 .vector-aHX {
  width: 2.1904rem;
  height: 1.757rem;
  position: absolute;
  left: 1.1147rem;
  top: 17.263rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-7-jQ5 .vector-7oF {
  width: 3.2849rem;
  height: 2.6554rem;
  position: absolute;
  left: 0.9609rem;
  top: 16.4481rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-8-FeZ {
  opacity: 0.4;
  width: 20.6761rem;
  height: 16.2915rem;
  position: absolute;
  left: 8.0333rem;
  top: 96.5018rem;
  filter: blur(0.5rem);
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-8-FeZ .vector-Ydf {
  width: 3.3236rem;
  height: 2.7532rem;
  position: absolute;
  left: 1.8525rem;
  top: 2.0711rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-8-FeZ .group-gjs {
  width: 18.4159rem;
  height: 14.9854rem;
  position: absolute;
  left: 2.2602rem;
  top: 1.3044rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-8-FeZ .group-2Hw {
  opacity: 0.34;
  width: 15.1224rem;
  height: 9.2732rem;
  position: absolute;
  left: 3.8018rem;
  top: 4.3297rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-8-FeZ .group-ZYm {
  opacity: 0.19;
  width: 11.7124rem;
  height: 7.1891rem;
  position: absolute;
  left: 4.9731rem;
  top: 3.5065rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-8-FeZ .clip-path-group-hQ5 {
  width: 3.5865rem;
  height: 3.0337rem;
  position: absolute;
  left: 10.5372rem;
  top: 6.116rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-8-FeZ .clip-path-group-qFP {
  width: 2.6845rem;
  height: 2.0637rem;
  position: absolute;
  left: 13.0863rem;
  top: 7.7913rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-8-FeZ .group-Zx5 {
  opacity: 0.15;
  width: 0.9951rem;
  height: 1.2141rem;
  position: absolute;
  left: 10.0669rem;
  top: 5.6424rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-8-FeZ .group-6x1 {
  opacity: 0.15;
  width: 3.0039rem;
  height: 2.2838rem;
  position: absolute;
  left: 11.1392rem;
  top: 6.2228rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-8-FeZ .group-eCq {
  opacity: 0.15;
  width: 4.7814rem;
  height: 3.9447rem;
  position: absolute;
  left: 5.5039rem;
  top: 3.3807rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-8-FeZ .group-a6V {
  opacity: 0.33;
  width: 4.6669rem;
  height: 3.9122rem;
  position: absolute;
  left: 4.1054rem;
  top: 6.1223rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-8-FeZ .group-WF3 {
  opacity: 0.33;
  width: 7.8687rem;
  height: 6.0067rem;
  position: absolute;
  left: 7.501rem;
  top: 7.8738rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-8-FeZ .group-SeV {
  opacity: 0.33;
  width: 4.2245rem;
  height: 3.3469rem;
  position: absolute;
  left: 4.3635rem;
  top: 6.2973rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-8-FeZ .group-B6H {
  opacity: 0.5;
  width: 6.6496rem;
  height: 4.7784rem;
  position: absolute;
  left: 8.0232rem;
  top: 8.1852rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-8-FeZ .group-WuF {
  opacity: 0.31;
  width: 4.8456rem;
  height: 3.3177rem;
  position: absolute;
  left: 9.4294rem;
  top: 8.9804rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-8-FeZ .group-f1T {
  box-sizing: border-box;
  padding: 1.232rem 0.763rem 0.212rem 0.955rem;
  width: 14.9498rem;
  height: 10.3579rem;
  position: absolute;
  left: 3.4334rem;
  top: 5.9213rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/clip-path-group-gGq.png');
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-8-FeZ .group-f1T .clip-path-group-Ayo {
  width: 13.2313rem;
  height: 8.9136rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-8-FeZ .group-ugV {
  opacity: 0.24;
  width: 9.2792rem;
  height: 5.6396rem;
  position: absolute;
  left: 4.5964rem;
  top: 5.4645rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-8-FeZ .group-SAd {
  opacity: 0.31;
  width: 7.9758rem;
  height: 4.8074rem;
  position: absolute;
  left: 5.2086rem;
  top: 5.7818rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-8-FeZ .group-mih {
  opacity: 0.52;
  width: 13.2314rem;
  height: 8.9136rem;
  position: absolute;
  left: 4.3872rem;
  top: 7.1524rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-8-FeZ .group-upu {
  opacity: 0.35;
  width: 15.4816rem;
  height: 11.2483rem;
  position: absolute;
  left: 5.0818rem;
  top: 1.912rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-8-FeZ .group-eXb {
  width: 1.1563rem;
  height: 1.1742rem;
  position: absolute;
  left: 4.7027rem;
  top: 3.2032rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-8-FeZ .group-zLZ {
  opacity: 0.68;
  width: 15.4815rem;
  height: 11.2482rem;
  position: absolute;
  left: 5.0803rem;
  top: 1.9111rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-8-FeZ .group-vk1 {
  opacity: 0.49;
  width: 8.3132rem;
  height: 5.1636rem;
  position: absolute;
  left: 4.2474rem;
  top: 4.8451rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-8-FeZ .group-4LR {
  width: 0.3155rem;
  height: 0.2254rem;
  position: absolute;
  left: 5.3005rem;
  top: 5.7092rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-8-FeZ .group-Q9P {
  opacity: 0.49;
  width: 4.8397rem;
  height: 2.944rem;
  position: absolute;
  left: 5.8239rem;
  top: 5.9792rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-8-FeZ .vector-Loj {
  width: 2.6484rem;
  height: 2.1793rem;
  position: absolute;
  left: 2.067rem;
  top: 2.3056rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-8-FeZ .vector-tKT {
  width: 1.4372rem;
  height: 1.1528rem;
  position: absolute;
  left: 2.5195rem;
  top: 2.7862rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .group-8-FeZ .vector-RqB {
  width: 2.1553rem;
  height: 1.7423rem;
  position: absolute;
  left: 2.4972rem;
  top: 2.595rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-A25 {
  width: 47.0337rem;
  height: 94.6627rem;
  position: absolute;
  left: 67.1222rem;
  top: 22.61rem;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-A25 .vector-4t9 {
  width: 46.9182rem;
  height: 93.3592rem;
  position: absolute;
  left: 0;
  top: 1.3035rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-A25 .clip-path-group-DW9 {
  width: 46.8102rem;
  height: 14.59rem;
  position: absolute;
  left: 0.071rem;
  top: 1.3035rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-A25 .vector-jzH {
  width: 46.9182rem;
  height: 93.3569rem;
  position: absolute;
  left: 0.1155rem;
  top: 1.1395rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-A25 .vector-5oF {
  width: 46.4423rem;
  height: 9.3832rem;
  position: absolute;
  left: 0.0792rem;
  top: 85.2795rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-A25 .group-RcD {
  width: 36.309rem;
  height: 4.6878rem;
  position: absolute;
  left: 5.3022rem;
  top: 89.9685rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-A25 .group-N1f {
  width: 43.0688rem;
  height: 4.8325rem;
  position: absolute;
  left: 1.7659rem;
  top: 87.3901rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-A25 .group-Gsj {
  opacity: 0.61;
  width: 17.4144rem;
  height: 86.0144rem;
  position: absolute;
  left: 24.1964rem;
  top: 2.4085rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-A25 .group-QU9 {
  opacity: 0.2;
  width: 17.4149rem;
  height: 86.0141rem;
  position: absolute;
  left: 4.8894rem;
  top: 2.3544rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-A25 .group-LMo {
  width: 46.8107rem;
  height: 4.4869rem;
  position: absolute;
  left: 0.086rem;
  top: 11.4083rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-A25 .group-fey {
  opacity: 0.15;
  width: 46.8107rem;
  height: 4.4869rem;
  position: absolute;
  left: 0.086rem;
  top: 11.6844rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-A25 .group-c4R {
  width: 38.4097rem;
  height: 5.3704rem;
  position: absolute;
  left: 4.2857rem;
  top: 0.8275rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-A25 .group-94M {
  width: 38.4097rem;
  height: 5.3704rem;
  position: absolute;
  left: 4.2857rem;
  top: 0.1386rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-A25 .vector-5To {
  width: 38.4097rem;
  height: 5.3704rem;
  position: absolute;
  left: 4.2857rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-A25 .group-2P3 {
  opacity: 0.53;
  width: 38.4102rem;
  height: 4.8241rem;
  position: absolute;
  left: 4.2859rem;
  top: 0.0012rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-A25 .clip-path-group-m5j {
  width: 46.9182rem;
  height: 93.3592rem;
  position: absolute;
  left: 0;
  top: 1.3035rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-A25 .vector-JbT {
  width: 11.4828rem;
  height: 1.2075rem;
  position: absolute;
  left: 16.9682rem;
  top: 2.6251rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-A25 .vector-Ek1 {
  width: 13.0478rem;
  height: 0.9476rem;
  position: absolute;
  left: 16.9652rem;
  top: 10.9331rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .auto-group-1sbj-497 .layer-1-A25 .mask-group-a3B {
  width: 46.9182rem;
  height: 86.4717rem;
  position: absolute;
  left: -0.0222rem;
  top: 1.7886rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .layer-1-Vfw {
  margin: 10.81rem 0rem 21.027rem 0rem;
  width: 47.0337rem;
  height: calc(100% - 31.8373rem);
  position: relative;
  flex-shrink: 0;
}
.frame-8-sUd .frame-3-9BF .layer-1-Vfw .vector-PWR {
  width: 46.9182rem;
  height: 93.3592rem;
  position: absolute;
  left: 0;
  top: 1.3035rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .layer-1-Vfw .clip-path-group-LRf {
  width: 46.8102rem;
  height: 14.59rem;
  position: absolute;
  left: 0.071rem;
  top: 1.3035rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .layer-1-Vfw .vector-TmB {
  width: 46.9182rem;
  height: 93.3569rem;
  position: absolute;
  left: 0.1155rem;
  top: 1.1395rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .layer-1-Vfw .vector-121 {
  width: 46.4423rem;
  height: 9.3832rem;
  position: absolute;
  left: 0.0792rem;
  top: 85.2795rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .layer-1-Vfw .group-Lpy {
  width: 36.3091rem;
  height: 4.6878rem;
  position: absolute;
  left: 5.3022rem;
  top: 89.9685rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .layer-1-Vfw .group-spu {
  width: 43.0688rem;
  height: 4.8325rem;
  position: absolute;
  left: 1.7659rem;
  top: 87.3901rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .layer-1-Vfw .group-pVF {
  opacity: 0.61;
  width: 17.4144rem;
  height: 86.0144rem;
  position: absolute;
  left: 24.1964rem;
  top: 2.4085rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .layer-1-Vfw .group-MVB {
  opacity: 0.2;
  width: 17.4149rem;
  height: 86.0141rem;
  position: absolute;
  left: 4.8894rem;
  top: 2.3544rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .layer-1-Vfw .group-Hdj {
  width: 46.8107rem;
  height: 4.4869rem;
  position: absolute;
  left: 0.086rem;
  top: 11.4083rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .layer-1-Vfw .group-dSh {
  opacity: 0.15;
  width: 46.8107rem;
  height: 4.4869rem;
  position: absolute;
  left: 0.086rem;
  top: 11.6844rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .layer-1-Vfw .group-ABj {
  width: 38.4097rem;
  height: 5.3704rem;
  position: absolute;
  left: 4.2857rem;
  top: 0.8275rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .layer-1-Vfw .group-hBf {
  width: 38.4097rem;
  height: 5.3704rem;
  position: absolute;
  left: 4.2857rem;
  top: 0.1386rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .layer-1-Vfw .vector-q2y {
  width: 38.4097rem;
  height: 5.3704rem;
  position: absolute;
  left: 4.2857rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .layer-1-Vfw .group-NYh {
  opacity: 0.53;
  width: 38.4102rem;
  height: 4.8241rem;
  position: absolute;
  left: 4.2858rem;
  top: 0.0012rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .layer-1-Vfw .clip-path-group-uYd {
  width: 46.9182rem;
  height: 93.3592rem;
  position: absolute;
  left: 0;
  top: 1.3035rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .layer-1-Vfw .vector-SYZ {
  width: 11.4828rem;
  height: 1.2075rem;
  position: absolute;
  left: 16.9682rem;
  top: 2.6251rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .layer-1-Vfw .vector-Bm3 {
  width: 13.0478rem;
  height: 0.9476rem;
  position: absolute;
  left: 16.9652rem;
  top: 10.9331rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-8-sUd .frame-3-9BF .layer-1-Vfw .mask-group-vyX {
  width: 46.9182rem;
  height: 86.4717rem;
  position: absolute;
  left: -0.0222rem;
  top: 1.7886rem;
  object-fit: contain;
  vertical-align: top;
}
